.handleDarkMode label{
    color: white;
    margin: 10px;
}
.switch{
    margin: 8px;
}
@media screen and (max-width: 768px) {
    .switch{
        margin: 0px;
        text-align: center;
        margin: auto;
    }
}